<h1><%= link_to "Questions", edit_survey_path(@survey) %> | Responses</h1>

<p>
  <%= link_to "New Response", new_survey_response_path(@survey), class: 'btn btn-secondary' %>
</p>

<div class="responses-wrapper">
  <%= render "responses", survey: @survey, responses: @responses %>
</div>
