<% question_field.object.choices.each do |choice| %>
    <div class="radio">
      <label>
        <%= radio_button_tag :choice, :content %>
        <%= choice.content %>
      </label>
    </div>
<% end %>